stages:
  - build
  - deploy
  - test

include:
  - remote: "https://raw.githubusercontent.com/mozmeao/gitlab-library/v1.1.0/job_imports.yml"

test_pr:
  stage: deploy
  extends:
    - .aws_runner
  only:
    - branches
  except:
    - master
    - prod
  script:
    - make build
    - make test
  after_script:
    - make stop

build:
  stage: build
  only:
    - master
    - prod
  extends:
    - .aws_runner
  script:
    - bin/build-and-push.sh
    - make test
  after_script:
    - make stop

.deploy:
  stage: deploy
  extends:
    - .aws_runner
    - .helm_deploy_aws
  variables:
    subdir: "k8s"
    KUBECONFIGS: "or:/home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig,frankfurt:/home/gitlab-runner/.kube/frankfurt.kubeconfig"
  when: on_success

.test-oregon:
  stage: test
  extends:
    - .aws_runner
  variables:
    KUBECONFIG: "/home/gitlab-runner/.kube/oregon-b.kubeconfig"
  script:
    - make wait-for-deploy
    - make test-external

.test-frankfurt:
  stage: test
  extends:
    - .aws_runner
  variables:
    KUBECONFIG: "/home/gitlab-runner/.kube/frankfurt.kubeconfig"
  script:
    - make wait-for-deploy
    - make test-external

deploy-stage:
  extends:
    - .deploy
  only:
    - master
  variables:
    ENV: stage
    NS: www-firefox-com-stage

deploy-prod:
  extends:
    - .deploy
  only:
    - prod
  variables:
    ENV: prod
    NS: www-firefox-com-prod

test-stage-oregon:
  extends:
    - .test-oregon
  only:
    - master
  variables:
    NS: www-firefox-com-stage
    BASE_URL: https://fxc-stage.oregon-b.moz.works

test-stage-frankfurt:
  extends:
    - .test-frankfurt
  only:
    - master
  variables:
    NS: www-firefox-com-stage
    BASE_URL: https://fxc-stage.frankfurt.moz.works

test-prod-oregon:
  extends:
    - .test-oregon
  only:
    - prod
  variables:
    NS: www-firefox-com-prod
    BASE_URL: https://fxc-prod.oregon-b.moz.works

test-prod-frankfurt:
  extends:
    - .test-frankfurt
  only:
    - prod
  variables:
    NS: www-firefox-com-prod
    BASE_URL: https://fxc-prod.frankfurt.moz.works
